*{
    margin: 0%;
    padding: 0%;
}
form{
    font-size: 25px;
    margin: 85px;
    margin-left: 250px;
}
form input
{
    border: none;
    text-decoration-line: underline;
    padding-bottom: 25px;
    cursor: pointer;
}
form button{
    background-color: teal;
    color: white;
    width: 50px;
    height: 40px;
    margin-left: 200px;
    margin-top: 12px;
}